CLOUDINARY_URL=cloudinary://333779167276662:_8jbSi9FB3sWYrfimcl8VKh34rI@keystone-demo

# CHANGE THE SSL KEY TO PROPER VALUE
SSL_KEY=server.key
SSL_CERT=server.crt

# ONLY IF YOU ARE RUNNING ON A LINUX MACHINE DIRECTLY
# MONGO_PORT_27017_TCP_ADDR:127.0.0.1
# MONGO_PORT_27017_TCP_PORT:27017
# REDIS_PORT_6379_TCP_ADDR:127.0.0.1
# REDIS_PORT_6379_TCP_PORT:6379
