// Override Bootstrap variables in this file, e.g.
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
$font-size-heading: 15px;
$font-size-base: 14px;

$locale-height: 20px;
$header-height: 50px;
$footer-height: 50px;

