// Override Bootstrap variables in this file, e.g.
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
$font-size-heading: 15px;
$font-size-base: 14px;
$font-color-on-light: #333;
$font-color-on-dark: #ccc;
$font-color-on-dark-hover: #e5e5e5;

$locale-height: 20px;
$header-height: 50px;
$footer-height: 50px;

